<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Heba" connectionString="data source=.\MSSQL;initial catalog=WCFProject;integrated security=true"/>
  </connectionStrings>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <services>
      <service name="project_WCF.Service" behaviorConfiguration="meta">
        <endpoint address="http://localhost/Resources1" binding="basicHttpBinding" contract="project_WCF.IService"/>
        <endpoint address="http://localhost/Resources2" binding="wsHttpBinding"   contract="project_WCF.IService"/>
        <endpoint address="net.tcp://localhost:9999/Resources3" binding="netTcpBinding" contract="project_WCF.IService"/>
        <endpoint address="net.pipe://localhost/Resources4" binding="netNamedPipeBinding" contract="project_WCF.IService"/>
        
      </service>
      
      
      
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="meta">
          <serviceMetadata httpGetUrl="http://localhost/meta" 
                        httpGetEnabled="true"/>
          <!--<serviceDebug includeExceptionDetailInFaults="False" />-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
